.category-section .format-standard { border: 2px solid #444; padding: 10px; margin: 4px; border-radius: 3px; width: 42.4%; }

.wp-caption img { width: 190; height: 190px; }

#posts li { 
list-style: none; 
width: 43%;
float: left;
margin: 10px;
padding: 10px; 
border: 2px solid #444;
border-radius: 5px; 
height: 250px; }